SESSION_SECRET=change_me
ZEGOCLOUD_APP_ID=234470600
ZEGOCLOUD_SERVER_SECRET=change_me
FRANCETRAVAIL_CLIENT_ID=change_me
FRANCETRAVAIL_CLIENT_SECRET=change_me
FRANCETRAVAIL_REDIRECT_URI=http://localhost:3000/auth/francetravail/callback
REDIS_URL=
SENTRY_DSN=
DATABASE_URL=postgresql://user:password@localhost:5432/visio_conf
